@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    background: linear-gradient(black, #00615B);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Inter", sans-serif;
}

.container {
    text-align: center;
    color: white;
    width: 100%;
    justify-content: center;
    display: flex;
}

.boxgm {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 20px;
    width: calc(100% - 10px);
    max-width: 400px;
    position: absolute;
    margin-top: 25px;
    height: 83px;
    display: flex;
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center; /* Выравнивает по вертикали */
    margin-left: 5px;
    margin-right: 5px;
}

.user-info {
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
}

.boxgm .user-status {
    font-size: 0.8rem;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.7);
}

.boxgm img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
    display: block; /* Убедитесь, что изображение отображается */
}

.user-name {
    font-size: 1.2rem;
}

.lega {
    display: flex;
    flex-direction: column; /* Располагает элементы в колонку */
    align-items: center; /* Центрирует элементы по горизонтали */
    cursor: pointer;
}

.lega img {
    height: 40px; /* Установите желаемую высоту для изображения */
    width: 40px; /* Установите желаемую ширину для изображения */
}

.legaa {
    font-size: 0.8rem; /* Уменьшенный размер шрифта для текста */
    margin-top: 5px; /* Отступ сверху */
}

.lega p{
    margin-right: 12px;
    font-family: "Inter";
    font-weight: bold;
}

.box {
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 430px;
    margin-top: 124px;
    height: calc(100vh - 124px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media(max-width: 768px) {
    .box {
        width: 100%;
    }

    .boxgm {
        width: calc(100% - 10px);
    }
}
